<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>860280172907-cbc1isoq6e706gderinkqff2ihnu973i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.860280172907-cbc1isoq6e706gderinkqff2ihnu973i</string>
	<key>API_KEY</key>
	<string>AIzaSyDOZUM-4TxoaiQg26WeVeM6LvwBIM9deAo</string>
	<key>GCM_SENDER_ID</key>
	<string>860280172907</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.livepoint.gero</string>
	<key>PROJECT_ID</key>
	<string>gero-a0109</string>
	<key>STORAGE_BUCKET</key>
	<string>gero-a0109.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:860280172907:ios:a316ae51c70d6358</string>
	<key>DATABASE_URL</key>
	<string>https://gero-a0109.firebaseio.com</string>
</dict>
</plist>